body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #8d9fa9;
  background-color: #1d2124;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
  height: 50px;
  width: 200px;
  margin-top: 10px;
  background-color: #d41b58;
}

form input {
  width: 100%;
  height: 50px;
  color: #3333;
  border: 1px solid gray;
  padding: 0 15px;
}

.button-icon:hover {
  cursor: pointer;
  opacity: 0.8;
}
