.card-container {
  width: 300px;
  color: white;
  background-color: #272b2e;
  padding: 25px;
  border-radius: 8px;
  position: relative;
  text-align: left;
  margin: 5px;
}

.card-container strong {
  font-size: 20px;
}

.card-container p {
  font-style: italic;
}

.card-icon-trash {
  position: absolute;
  right: 20px;
  top: 20px;
}

.card-icon-edit {
  position: absolute;
  right: 50px;
  top: 20px;
}
